<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>


<body>
<table class="table" id="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Total Time in Month</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody id="tbody">
  <tr  *ngFor="let employee of employeeARRAY"   [ngClass]="{'red': (employee.time < 100)}">
    <td style="align-items: start">{{employee.EmployeeName}} </td>
    <td style="align-items: center">{{employee.time}} hours</td>
    <td style="align-self: center;" class="edit">Edit</td>
  </tr>
  </tbody>
</table>

<canvas id="canvas" baseChart
        [datasets]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [legend]="pieChartLegend"
        [type]="pieType"
>
</canvas>



</body>


